body {
  margin: 0px;
}

.disabled {
  cursor: not-allowed !important;
  opacity: .5;
}

#main-container .logo {
  color: #fff;
  text-decoration: none;
}

#home-page h1 {
  font-family: tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #00008B;
}

#home-page .collection {
  margin: 0 auto;
  text-align: center;
  width: 660px;
}

#about-page {
  max-width: 800px;
  margin: 0 auto;
}

.dialog {
  text-align: center;
}

.dialog h1 {
  font-size: 20px;
  font-family: verdana, sans-serif;
  font-weight: normal;
}

.dialog h2 {
  color: gray;
  font-size: 14px;
  font-family: verdana, sans-serif;
  font-weight: lighter;
}

.progress {
  padding: 100px;
  text-align: center;
}

#template-page .actions {
  text-align: right;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

#template-page h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: verdana, sans-serif;
  font-weight: normal;
}

#template-page h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: verdana, sans-serif;
  font-weight: lighter;
}
